@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('text2'), /* Formato mais moderno */
       url('/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('text'); /* Para maior compatibilidade */
  font-weight: normal;
  font-style: normal;
}
* {
    margin:0px;
    padding:0px;
    border:0px;
    font-family:'Roboto',sans-serif;
    background-color:aliceblue;
}
/*Global-Config*/ /*Header-Config*/
header {
    width:100%;
    height:56px;
    background-color:white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.menu_youtube {
    width:146px;
    height:24px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:white;
}
.pesquisa {
    width: 404px;
    height:40px;
    background-color:white;
    border: solid #bbbbbb 1px;
    display:flex;
    justify-content: flex-end;
}
.pesquisa svg {
    border-left: 1px #bbbbbb solid;
    width:57px;
    height:40px;
    display:flex;
    background-color:#CCCCCC;
}
.User_menu {
    width:130px;
    height:34px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color:white;
}
.User_menu img {
     width:34px;
     height:34px;
     border-radius:100px;
}
.User_menu svg {
    background-color:white;
}