@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('text2'), /* Formato mais moderno */
       url('/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('text'); /* Para maior compatibilidade */
  font-weight: normal;
  font-style: normal;
}
* {
    margin:0px;
    padding:0px;
    border:0px;
    font-family:'Roboto',sans-serif;
    background-color:aliceblue;
}
/*Global-Config*/ /*Header-Config*/
header {
    width:100%;
    height:56px;
    background-color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    grid-column-start:1;
    grid-column-end:7;
}
.menu_youtube {
    width:146px;
    height:24px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:white;
}
.menu_youtube svg {
    background-color:transparent;
}
.menu_youtube img {
    background-color:transparent;
}
/*menu_youtube*/
.pesquisa {
    width: 404px;
    height:40px;
    background-color:white;
    border: solid #bbbbbb 1px;
    display:flex;
    justify-content: flex-end;
}
.pesquisa svg {
    border-left: 1px #bbbbbb solid;
    width:57px;
    height:40px;
    display:flex;
    background-color:#CCCCCC;
}
/*pesquisa*/
.User_menu {
    width:130px;
    height:34px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color:white;
}
.User_menu img {
     width:34px;
     height:34px;
     border-radius:100px;
}
.User_menu svg {
    background-color:white;
}
/*Header-Config*/ /*menu_nav*/
.menu_nav {
    background-color:white;
    height:1000px;
    display:flex;
    align-items:baseline;
    flex-direction:column;
    grid-column-start:1;
}
.Menu {
    background-color: white;
    display:flex;
    align-items:center;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
}
.Menu p {
    margin-left:10px;
    background-color:white;
}
.Menu svg {
    background-color:white;
}
/*menu_nav*/ /*main*/
main {
    display: grid;
    grid-template-columns:repeat(4,280px);
    grid-template-rows:repeat(3,280px);
    grid-column-start:2;
    grid-row-start:2;
    column-gap: 40px;
    row-gap: 0px;
    margin:40px;
}
.layout_videos img {
    width:100%;
}
.descricao_video {
    display: grid;
    grid-template-columns: 50px 197px;
    margin-top:10px;
}
.descricao_video img{
    width:42px;
    height:42px;
    border-radius:100px;
    grid-column-start: 1;
    grid-column-end:1;
}
.descricao_video h1{
    font-size:14px;
    grid-column-start:2;
    grid-column-end:2;
}
.descricao_video p{ 
    font-size:12px;
    color:#A9A9A9;
    grid-column-start:2;
    grid-column-end:2;
}
body {
    display:grid;
    grid-template-columns:218px repeat(5,280px);
    grid-template-rows: 56px repeat(4,280px);
}
